<table class="table border">
    <tr>
        <th>
            <label>PersonID</label>
        </th>
         <th>
            <label>PersonName</label>
        </th>
         <th>
            <label>Age</label>
        </th>
    </tr>
    @foreach (var item in ViewData["Persons"] as List<Person>)
    {
        <tr>
            <td>@item.PersonID</td>
            <td>@item.PersonName</td>
            <td>@item.Age</td>
        </tr>
    }
</table> 