<form asp-action="Index">
    <p>
        <label> He so A:</label>
        <input type="text" name="soA">

        <label> He so B:</label>
        <input type="text" name="soB">

        <label> He so C:</label>
        <input type="text" name="soC">
        
        <button type="submit" value="Tinh ">Tính </button>
    </p>
    <h2>@ViewBag.mess</h2>
</form>